@import url("chrome://global/skin/in-content/common.css");

groupbox{
    margin: 0px 0px 10px 0px !important;
    padding: 5px !important;
}
radio.direc-four hbox.radio-label-box{
    list-style-image: url("directions_rlud.png") !important;;
}
radio.direc-rl hbox.radio-label-box{
    list-style-image: url("directions_rl.png") !important;;
}
radio.direc-ud hbox.radio-label-box{
    list-style-image: url("directions_ud.png") !important;;
}
radio.direc-none hbox.radio-label-box{
    list-style-image: url("directions_none.png") !important;;
}
radio.direc-any hbox.radio-label-box{
    list-style-image: url("directions_any.png") !important;;
}
menulist.easydragtogo-Menu{
    flex-grow: 1;
}
row.easydragtogo-Menu{
    margin: 2px 5px !important;
    align-items: center;
}
hbox.easydragtogo-Menu{
    align-items: center;
}

separator.groove[hidden=true]{
    display: none;
}

tabpanels{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 12px;
}
grid, columns, rows{
    display: contents;
}
tabpanel, fieldset, row{
    display: grid;
    grid-template-columns: subgrid;
    align-content: first baseline;
}
tabpanel, tabpanel > *, fieldset, fieldset > *, row, row > hbox{
    grid-column: 1 / -1;
}